*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'pappins',sans-serif;
}
body{
display:flex;
height:100px;
justify-content:center;
align-items:center;
backround:linear-gradient(13 5deg,"pink","red")
}
.container .title{
font-size:25px;
font-weight:500;
}
.container form.use.details{
display:flex;
flex-wrap:wrap;
}
